<!-- include header -->
<%-include('include/_header.ejs')%>
<!-- include header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="lni lni-angle-double-left"></i> All Users</a>
            </div>
        </div>

                     <div class="form-title text-centre">
                                <h2 class="text-dark">New User</h2>
                                <span class="text-light">Use the below form to create new account</span>
                      </div>
   

        <!-- form handling -->
  <!-- add user form -->
  <%-include('include/_form.ejs')%>

    </div>

</main>

<!-- include footer -->
<%-include('include/_footer.ejs')%>
<!-- include footer -->