<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>User Management</title>
</head>
<body>
    <!-- header-->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-centre">
                        <a href="/" class="nav-brand text-dark">User Management System</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- header-->
<!-- main site -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="lni lni-angle-double-left"></i>  All Users</a>
            </div>
        </div>

                     <div class="form-title text-centre">
                                <h2 class="text-dark">New User</h2>
                                <span class="text-light">Use the below form to create new account</span>
                      </div>
   

        <!-- form handling -->
            <form method="post" id="update_user">

            </form>

    </div>

</main>
</body>
</html>