<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>User Management</title>
</head>
<body>
    <!-- header-->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-centre">
                        <a href="/" class="nav-brand text-dark">User Management System</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- header-->
<!-- main site -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User  <i class="lni lni-users"></i></span>
            </a>
        </div>
   

        <!-- form handling -->
            <form action="/" method="post">
            <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username</td>
                            <td>example@gmail.com</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                <a href="#" class="btn border shadow update">
                                    <span class="text-gradientt"><i class="lni lni-pencil-alt"></i></span>
                                </a>
                                <a href="#" class="btn border shadow delete">
                                    <span class="text-gradientt"><i class="lni lni-cross-circle"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
            </table>
            </form>

    </div>

</main>
</body>
</html>