*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(to right, #8e0fd0, #c600a6, #e1007c, #ea0057, #e53838);
    color: white;
    font-family: 'Catamaran', sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container
{
    max-width: 1024px;
    margin: auto;
}
.nav-brand
{   
    font-size: 2.3em;
    font-weight: 600;
}
.d-flex
{
    display: flex;
    flex-wrap: wrap;
}
.justify-between
{
    justify-content: space-between;
}
.text-centre
{
    text-align: center;
    margin-top: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.border-shadow
{
border: 2px solid  white;
/* box-shadow: 1px 3px 10px white; */
font-size:20px;
    font-family:Arial;
    width:150px;
    padding: 5px;
    height:35px;
    border-width:1px;
    color: black;
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:white;

}
/* .text-dark
{
    color: d;
} */

.inline
{
    display: inline-block;
}
.text-light
{
    color: aqua;
}
.text-gradient
{
    background: linear-gradient(to right, #F15412, #A460ED  );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}